* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    .box{
        width: 250px ;
        height: 200px;

        &:hover{
            anchor-name: --some-anchor;
        }
    }

    .red{
        background-color: red;
    }

    .blue{
        background-color: blue;
    }
    .green{
        background-color: green;
    }

    .anchor{
        width: 250px;
        height: 200px;
        border-radius: 10px;
        background-color: yellow;
        position: absolute;
        top: anchor(top);
        right: anchor(right); 
        left: anchor(left);
        bottom: anchor(bottom);
        position-anchor: --some-anchor;
    }
}