* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #111111;
    anchor-name: --some-anchor;

    .box{
        width: 150px ;
        height: 80px;
        isolation: isolate; 
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s linear;
        border-radius: 10px;

        &:hover{
            anchor-name: --some-anchor;
            transform: scale(1) !important;
            opacity: 1;
        }

        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

    }

    &:has(.box:hover) .box{
        transform: scale(0.8);
        opacity: 0.8;
    }

    .red{
        background-color: rgb(178, 32, 32);
    }

    .blue{
        background-color: rgb(22, 22, 189);
    }

    .green{
        background-color: rgb(33, 172, 33);
    }

    .anchor{
        background-color: white;
        position: absolute;
        top: anchor(--some-anchor top);
        left: anchor(--some-anchor left);
        right: anchor(--some-anchor right); 
        bottom: anchor(--some-anchor bottom);
        pointer-events: none;
        position-anchor: --some-anchor;
        transition: all 0.3s linear;
        mix-blend-mode: difference;
    }
}